.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-menu {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.header-menu li {
    list-style: none;
    padding: 15px 30px;
    border-radius: 5px;
    margin: 60px 5px;
    font-size: 0.875rem;
    background: #ffffff;
}

.header-menu a {
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}